.title {
    color: #02ccba;
  }
.title2{
    color: blueviolet;
    font-size:  100px;
}
.title3{
    color:green;
    font-size: 100px;
}
.title4{
    color:violet;
    font-size: 100px;
}
body{background-image:url("top.png"),url("img_03e15f43f8e4c2041f4a54bdfb903f43146368.jpg");
     background-repeat:no-repeat,repeat;
     background-attachment:fixed,fixed;
     background-position:left top,left 10% bottom;
}
