.title {
    color: #02ccba;
  }
.title2{
    color: blueviolet;
    font-size:  100px;
}  
body{background-image:url("top.png");
     background-repeat:no-repeat;
     background-attachment:fixed;
}
